@import url(http://fast.fonts.net/cssapi/00b288de-c5d2-4a89-9265-98564d75d01d.css)
@import nib

// ************
// Variables
// ************

darkBlue = #0f3446
bgColor = #52596b
iconPink = #fd6e6e
listGreen = #36e2be
MenuGrayBlue = #646a7a
btLine = #9ba0aa
menuOrange = #ffac79

$px = (1/16) rem
// **********
// FUNCTIONS
// **********
rem( $size )
  u = unit( $size )
  if u == 'px'
    unit($size/16, 'rem')
  else
    unit($size, u)

// **********
// MIXINS
// **********
font_rg(n, style = "none")
  if style is 'none'
    font-family "HelveticaNeueETW01-55Rg"
  if style is 'lt'
    font-family 'HelveticaNeueETW01-56It'
  color #ffffff
  font-size rem(n)

font_md(n, style = "none")
  if style is "none"
    font-family: "HelveticaNeueETW01-65Md"
  if style is "lt"
    font-family:'HelveticaNeueETW01-66Md'
  color #ffffff
  font-size rem(n)

font_lt(n,style = "none", colors = #ffffff)
  if style is "none"
    font-family 'HelveticaNeueETW01-45Lt'
  if sytle is "lt"
    font-family:'HelveticaNeueETW01-46Lt'
  if style is 'Cn'
    font-family:'HelveticaNeueW01-47LtCn_692686'
  color colors
  font-size rem(n)
  
font_bd(n, style = 'none')
  if style is 'none'
    font-family:'HelveticaNeueETW01-75Bd'
  if style is 'lt'
    font-family:'HelveticaNeueETW01-76Bd'
  color #ffffff
  font-size rem(n)
// ************
// STYLES
// ************
body
  margin: 0
  padding: 0
  min-width: 100%!important
  -webkit-text-size-adjust 100%
  -ms-text-size-adjust 100%
  margin 0
  padding: 0
p
  font_rg(12px)

.header
  padding: 0
img
  height: auto
.content
  width: 100%
  max-width: 600px

.subhead
  font_lt(15px)
  letter-spacing rem(10px)
  padding 0 0 0 rem(10px)

.h1,.h2
  color #ffffff
  font-family: "HelveticaNeueETW01-65Md"
.h1
  font-size rem(33px)
  line-height rem(38px)
  font-weight bold
  
.h2
  padding 0 0 rem(15px) 0
  font-size rem(24px) 
  line-height rem(28px) 
  font-weight bold

.h3
  font_md(20px)
  
  line-height rem(22px)
  
  font-weight:bold
  padding: rem(8px) 0 rem(8px) rem(8px)

.menufont
  line-height 28*$px
  font_lt(16px,'Cn', MenuGrayBlue)
  
.bodycopy
  font_lt(16px)
  line-height: 22*$px

.innerpadding
  padding: 20*$px 40*$px 20*$px 40*$px
  
.innerpadding_2
  padding-right 40*$px
  padding-bottom 20*$px
.innerpadding_3
  padding 20*$px 40*$px 10*$px 40*$px
  
.footer
  padding: 20*$px 30*$px 15*$px 30*$px
  
.footercopy
  font_lt(14px)
  line-height 20*$px
  
.footercopy a
  color darkBlue
  text-decoration: underline

table.tables
  font_md(14px)
  table-layout: fixed
  width:100%
  max-width:600*$px
  padding: 20*$px 15*$px 20*$px 15*$px
  tr td
    border-top: 1*$px solid btLine
    border-bottom: 1*$px solid btLine
  .Rank
    width:10%
    text-align:center
    font-family:'HelveticaNeueETW01-65Md'
  .Name
    width:40%
  .Quantity
    width:15%
  .Price
    width:20%
  .Amount
    width:15%
    
table.Total
  color:#ffffff
  width:100%
  max-width:200*$px
  font-family:'HelveticaNeueETW01-65Md'
  line-height:20*$px
  padding: 15*$px 15*$px 15*$px 15*$px
  tr td
    text-align:right
  
table.delivery
  font_rg(16px)
  tr td
    text-align left


/*
font-family:'HelveticaNeueETW01-45Lt';
font-family:'HelveticaNeueETW01-46Lt';
font-family:'HelveticaNeueETW01-55Rg';
font-family:'HelveticaNeueETW01-56It';
font-family:'HelveticaNeueETW01-65Md';
font-family:'HelveticaNeueETW01-66Md';
font-family:'HelveticaNeueETW01-75Bd';
font-family:'HelveticaNeueETW01-76Bd';
font-family:'HelveticaNeueW01-47LtCn_692686';

*/